<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".home_page" %>
  <%= link_to "#{t("static_pages.ror")} #{t("static_pages.tutorial")}", Settings.rails_homepage %>
  <%= t ".sample_app"%>
</p>
